.mainPage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    
}
img {
    height: 100px;
}
h3 {
    border-radius: 15px;
    background-color: #e2dada;
    width: 30%;
}
.quality {
    /* display: flex; */
    padding: 20px;
    text-align: center;
    font-family: Georgia;
}
.passions {
    padding: 20px;
    text-align: center;
    font-family: Georgia;
}
/* .seeMore {
    border-radius: 15px;
    border: 2px solid grey; 
    /* display: none; to block
} */
